.root {
  background-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
}

.planzy {
  height: 100vh;
}

.trip {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.map {
  grid-column: span 2;
}

.header {
  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
}

.waypoints {
  height: 90%;
}


/* ///////////////////////////// */
/* NAV */
/* ///////////////////////////// */

.nav {
  height: 75px;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}




/* ///////////////////////////// */
/* NAV */
/* ///////////////////////////// */


